$shade6: #391b18;
$shade5: #5a2a27;
$shade4: #8d5b4c;
$shade3: #5c4742;
$shade2: #816f67;
$shade1: #c4bbaf;

.form-container {
  width: 70vh;
  border: 2px solid #8d5b4c;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

.form-unit-container {
  width: 60vh;
  border: 1px solid #c4bbaf;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

.no-text-decoration {
  text-decoration: none;
  color: inherit;
}

.basil {
  background-color: #fffbe6 !important;
}
.basil--text {
  color: #293d36 !important;
}

.funky-title {
  font-family: "KeeponTruckin";
  color: #fffbe6 !important;
}

.funky-title-secondary {
  font-family: "KeeponTruckin";
  color: #293d36 !important;
}
